[submodule "broadcom-wl"]
	path = broadcom-wl
	url = https://github.com/supremegamers/broadcom-wl
	branch = android
[submodule "openrazer"]
	path = openrazer
	url = https://github.com/supremegamers/openrazer
	branch = android
[submodule "rtl8821ce"]
	path = rtl8821ce
	url = https://github.com/supremegamers/rtl8821ce
[submodule "tp_smapi"]
	path = tp_smapi
	url = https://github.com/android-generic/tp_smapi
[submodule "acpi_call"]
	path = acpi_call
	url = https://github.com/supremegamers/acpi_call
